body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('C:\Users\gowdasa\Downloads\ss.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 150px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.p1{
  align-items: center;
  text-align: center;
  color: aliceblue;
}
input[type=text]{
  
  
  box-sizing: border-box;
  border: 2px solid rgb(255, 251, 251);
  border-radius: 4px;
}
