body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('C:\Users\gowdasa\Downloads\m1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(27, 28, 28);
  margin-top: 250px;
  text-align: center;
  align-items: center;
  
  position: relative;
  
  border: 1px solid rgb(244, 239, 239);
  position: fixed;
  margin-left: 40%;
  
  
  
  
 
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.p1{
  text-align: center;
  align-items: center;
  margin: auto;
  
  

  
}
.b1{
  background-color: rgb(65, 245, 86);
  font-size: 25px;
  box-shadow: 50px;
  text-align: center;
  margin-top: 20px;
  

}

form{
  background-color: rgb(231, 237, 237);
}